
<div id ="new-countdown-form">
	<h2>When will I see you?</h2>
	<%= render 'form' %>
</div>

<script>
	$('#countdown_page_datepicker').datepicker();
	$('#countdown_page_timepicker').timepicker({
		'minTime' : '9:00am',
		'step' : 15,
		'scrollDefaultTime' : '8:00pm',
		'timeFormat': 'h:ia',
		'disableTextInput' : true
	});

</script>