<h1>Welcome to Soon!</hi>
<h2>Create Your Personal Countdown Below:</h2>

<%= render 'form' %>

<script>
	$('#countdown_page_datepicker').datepicker();
	$('#countdown_page_timepicker').timepicker({
		'minTime' : '9:00am',
		'step' : 15,
		'scrollDefaultTime' : '8:00pm',
		'timeFormat': 'h:ia',
		'disableTextInput' : true
	});

</script>