<div id = "CountdownPage-show">

<h1>Countdown for "<%= @countdown_page.name %>"</h1>

<% if @is_finished %>
	<div id = "finished-countdown-container">
		<h3>YOU MADE IT!</h3>
	</div>
	
<% else %>
	<div id = "countdown-container">
		<h3>How Soon?</h3>
		<div id = "countdown-ticker"></div>
	</div>
<% end %>



<%= link_to 'Edit', edit_countdown_path(@countdown_page) %>


</div> <!-- CountdownPage-show -->

<%= javascript_tag do %>
	$(function() {
		<% if !@is_finished %>
  			createCountdown("<%= @countdown_page.end_date.to_s %>", "#countdown-ticker");
  		<% end %>	


	});
<% end %>
<script>
  
</script>
