
#countdown-show{
	text-align: center;
	padding: 40px 0;
	border: 2px solid #FCF39A;
	border-radius: 20px;
}

#countdown-container h3 {
	margin: 10px;
}

.countdown-show-icon {
	width: 20%;
}

#logo-spacer {
	display: inline-block;
	border-bottom: 2px dashed #FCF39A;
	width: 55%;
	margin-top: 60px;
	vertical-align: top;
}

#show-options {
	font-size: 0.9em;
}

#finished-show-date {
	font-style: italic;
}

.reverse {
	 -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}